@{
	ViewData["Tittle"] = "Acceso denegado";
}

<div class="text-center">
	<p></p>
	<h2>Usted no cuenta con los permisos requeridos</h2>
	<p></p>
    <hr />
	<h5>Si lo desea puede cerrar sesión e ingresar con otra cuenta.</h5>
	<p></p>
	<h4><a asp-action="CerrarSesion" asp-controller="Account">Cerrar sesión</a></h4>
</div>