@{
	ViewData["Tittle"] = "Acceso denegado";
}

<div class="text-center">
	<h1>Usted no cuenta con los permisos requeridos.</h1>
    <hr />
	<h3>Si lo desea puede cerrar sesión e ingresar con otra cuenta.</h3>
	<h4><a asp-action="CerrarSesion" asp-controller="Account">Cerrar sesión</a></h4>
</div>