@model ORT_PNT1_Proyecto_2022_2C_I_ReservaEspectaculo.Models.Reserva

@{
    ViewData["Title"] = "Create";
}

<p></p>

<h4>Crear una nueva reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SalaId" class="control-label"></label>
                <select asp-for="SalaId" class ="form-control" asp-items="ViewBag.SalaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                @if (User.IsInRole(Configs.Cliente))
                {
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteIdCreate"></select>
                }
                else
                {
                <select asp-for="ClienteId" class ="form-control" asp-items="ViewBag.ClienteId"></select>
                }
            </div>
            <div class="form-group">
                <label asp-for="CantidadButacas" class="control-label"></label>
                <input asp-for="CantidadButacas" class="form-control" />
                <span asp-validation-for="CantidadButacas" class="text-danger"></span>
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<p></p>
<div>
    @if (User.IsInRole(Configs.Cliente))
    {
    <a asp-action="MisReservas">Volver al listado</a>
    }
    else
    {
    <a asp-action="Index">Volver al listado</a>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
