@model ORT_PNT1_Proyecto_2022_2C_I_ReservaEspectaculo.Models.Reserva

@{
    ViewData["Title"] = "Edit";
}

<p></p>

<h4>Cancelar reserva</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="SalaId" />
            <input type="hidden" asp-for="ClienteId" />
            <input type="hidden" asp-for="CantidadButacas" />
            <input type="hidden" asp-for="Activa" />
            <input type="hidden" asp-for="FechaAlta" />
            <p></p>
            <div>¿Está seguro de que desea cancelar su reserva?</div>
            <div class="form-group form-check">
                <label class="form-check-label"></label>
                <input class="form-check-input" name="ConfirmarCancelacion" type="checkbox" value="true" />
            </div>
            <p></p>
            <div class="form-group">
                <input type="submit" value="Cancelar reserva" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<p></p>
<div>
    <a asp-controller="Reservas" asp-action="Details" asp-route-id=@Model.Id>Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}