@model IEnumerable<ORT_PNT1_Proyecto_2022_2C_I_ReservaEspectaculo.Models.Genero>

@{
    ViewData["Title"] = "Index";
}

<p></p>

<h2>Géneros</h2>

@if (User.IsInRole(Configs.Empleado))
{
    <p>
        <a asp-action="Create">Crear un nuevo género</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Ver detalles</a>
                    @if (User.IsInRole(Configs.Empleado))
                    {
                         <a> | </a><a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>