@{
	ViewData["Title"] = "Página principal";
	List<SelectListItem> listaDeGeneros = (List<SelectListItem>)ViewBag.listaDeGeneros;
	List<Pelicula> listaDePeliculas = (List<Pelicula>)ViewBag.listaDePeliculas;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/estilos.css" asp-append-version="true" />
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
</head>
<body>
	<main>
		<div><p></p></div>
		<div class="informacion-principal">
			<div class="contenedor">
				<h3 class="titulo">Salas 3D y 4D</h3>
				<p class="descripcion">
					Disfrute de las mejores películas en nuestras nuevas salas 3D y 4D, que cuentan con unos más que confortables sillones reclinables. Viva una experiencia única con la magia del cine en dos, tres y cuatro dimensiones.
				</p>
				<a asp-area="" asp-controller="Salas" asp-action="Index">
				<button role="button" class="boton"><i class="fas fa-info-circle"></i>Ver todas las salas</button>
				</a>
			</div>
		</div>

		<div class="peliculas-recomendadas contenedor">
			<div class="contenedor-titulo-controles">
				<h3>Películas en cartelera</h3>
				<div class="indicadores"></div>
			</div>

			<div class="contenedor-principal">
				<button role="button" id="flecha-izquierda" class="flecha-izquierda"><i class="fas fa-angle-left"></i></button>

				<div class="contenedor-carousel">
					<div class="carousel">
						@foreach (var pelicula in listaDePeliculas)
						{
							<div class="pelicula">
								<a asp-controller="Peliculas" asp-action="Details" asp-route-id="@pelicula.Id">
									@if (@pelicula.Titulo.ToString().Equals("¡Sí señor!"))
									{
										<img src="img/Cartelera/¡Sí señor!.jpg" alt="">
									}
									else
									{
									@if(@pelicula.Titulo.ToString().Equals("Boku no Hero Academia: Misión mundial de héroes")){
										<img src="img/Cartelera/Boku no Hero Academia_ Misión mundial de héroes.jpg" alt="">
									}
									else
									{
									@if(@pelicula.Titulo.ToString().Equals("Dragon Ball Z: La batalla de los dioses")){
										<img src="img/Cartelera/Dragon Ball Z_ La batalla de los dioses.jpg" alt="">
									}
									else
									{
									@if(@pelicula.Titulo.ToString().Equals("E.T.")){
										<img src="img/Cartelera/E.T..jpg" alt="">
									}
									else
									{
									@if(@pelicula.Titulo.ToString().Equals("El Conjuro")){
										<img src="img/Cartelera/El Conjuro.jpg" alt="">
									}
									else
									{
									@if(@pelicula.Titulo.ToString().Equals("El Exorcismo de Emily Rose")){
										<img src="img/Cartelera/El Exorcismo de Emily Rose.jpg" alt="">
									}
									else
									{
									@if(@pelicula.Titulo.ToString().Equals("El Padrino (parte 1)")){
										<img src="img/Cartelera/El Padrino (parte 1).jpg" alt="">
									}
									else
									{
									@if(@pelicula.Titulo.ToString().Equals("Indiana Jones en busca del arca perdida")){
										<img src="img/Cartelera/Indiana Jones en busca del arca perdida.jpg" alt="">
									}
									else
									{
									@if(@pelicula.Titulo.ToString().Equals("La isla siniestra")){
										<img src="img/Cartelera/La isla siniestra.jpg" alt="">
									}
									else
									{
									@if(@pelicula.Titulo.ToString().Equals("Michael Jackson: This is it")){
										<img src="img/Cartelera/Michael Jackson_ This is it.jpg" alt="">
									}
									else
									{
									@if(@pelicula.Titulo.ToString().Equals("Parásitos")){
										<img src="img/Cartelera/Parásitos.jpg" alt="">
									}
									else
									{
									@if(@pelicula.Titulo.ToString().Equals("Rambo")){
										<img src="img/Cartelera/Rambo.jpg" alt="">
									}
									else
									{
									@if(@pelicula.Titulo.ToString().Equals("Terminator")){
										<img src="img/Cartelera/Terminator.jpg" alt="">
									}
									else
									{
										<img src="img/Cartelera/Imagen no disponible.png" alt="">
									}
									}
									}
									}
									}
									}
									}
									}
									}
									}
									}
									}
									}
								</a>
							</div>
						}
						<div class="pelicula">
							<a asp-area="" asp-controller="Peliculas" asp-action="Index"><img src="img/Cartelera/Ver todas las películas.jpg" alt=""></a>
						</div>
					</div>
				</div>
				<button role="button" id="flecha-derecha" class="flecha-derecha"><i class="fas fa-angle-right"></i></button>
			</div>
		</div>
	</main>
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="js/main.js"></script>
</body>
</html>