@{
    ViewData["Title"] = "Información institucional";
}
<h2 align="center">@ViewData["Title"]</h2>

<div class="text-center">
	<h4>Bienvenides a CinemaORT</h4>
    <hr />
	<h6>Este proyecto surgió en 2013, luego de nuestro gran éxito con la educiación secundaria y terciara.</h6>
	<h6>Decidimos diversificar nuestras actividades para maximizar nuestras oportunidades. Creemos que tenemos mucho que aportarle al mundo.</h6>
	<h6>Este cine es solo el comienzo. ¡Se vienen muchas cosas más!</h6>
	<p></p>
	<h6><a asp-action="Index" asp-controller="Home">Volver a la página principal</a></h6>
