@{
    ViewData["Title"] = "Información institucional";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
	<h1>Bienvenides a CinemaORT</h1>
    <hr />
	<h3>Este proyecto surgió en 2013, luego de nuestro gran éxito con la educiación secundaria y terciara.</h3>
	<h3>Decidimos diversificar nuestras actividades para maximizar nuestras oportunidades. Creemos que tenemos mucho que aportarle al mundo.</h3>
	<h3>Este cine es solo el comienzo. ¡Se vienen muchas cosas más!</h3>
	<h3></h3>
	<h4><a asp-action="Index" asp-controller="Home">Volver a la página principal</a></h4>
