@{
    ViewData["Title"] = "Login";
}

<div class="text-center">

    <div class="login" align="center" id="loginDiv">
        <form align="center">
            <div class="logo">
                <img src="logo.jpg" alt="logo" />
            </div>
            <div class="form-group">
                <label for="Mail">Mail</label>
                <input type="email" class="form-control" id="Email" aria-describedby="emailHelp">
            </div>
            <div class="form-group">
                <label for="Password">Contraseña</label>
                <input type="password" class="form-control" id="Password">
            </div>
            <div class="buttons">
                <button type="button" class="btn btn-primary" id="ingresarBoton" onClick="checkearDatos()">Ingresar</button>
                <button type="button" class="btn btn-primary" id="registrarseBoton">Registrarse</button>
            </div>
        </form>
    </div>






</div>
