@{
    ViewData["Title"] = "Políticas de privacidad";
}

<p></p>

<h2>@ViewData["Title"]</h2>

<p>Nos comprometemos a proteger la información que sea suministrada en nuestra página. En caso de que decidamos utilizar tus datos con fines comerciales, serán notificadas aquellas personas afectadas y/o interesadas para que puedan prestar su autorización y participación en la decisión y en sus efectos.</p>
<p></p>
<p><a asp-controller="Home" asp-action="Index">Ir a la página principal</a></p>